.about-section{
    .about-container{
        .about-row{
            position: relative;

            &::after{
                content: 'About Us';
                position: absolute;
                top: 9rem;
                left: -15rem;
                font-size: 50px;
                color: $forth-color;
                transform: rotate(-90deg);
            }
            .about-left-content{
                h1{
                    color: $third-color;
                }

                .exp-years{
                    margin-top: 3rem;
                    width: 200px;
                    height: 200px;
                    border-radius: 20px;
                    border: 2px solid $forth-color;

                    h2{
                        color: $third-color;
                        font-size: 40px;
                        margin-left: 6rem;
                        margin-top: 1.5rem;
                    }
                }
            }
            .about-right-content{
                text-align: center;

                .dots-img{
                    display: inline-block;
                    position: relative;
                    img{
                        display: block;
                        position: relative;
                        z-index: 1;
                        width: 150%;
                    }
    
                    .dots{
                        background: url(../../assets/dot.png) 0 0 repeat;
                        position: absolute;
                        right: 26%;
                        bottom: -15%;
                        width: 85%;
                        height: 50%;
                    }
                }
            }
        }
    }
}