.aboutMvv-section{
    .aboutMvv-container{
        .aboutMvv-row{
            position: relative;
            text-align: center;

            &::after{
                content: 'Our Purpose';
                position: absolute;
                top: 5rem !important;
                left: -15rem;
                font-size: 50px;
                color: $forth-color;
                transform: rotate(-90deg);
            }

            .aboutMvv-content{
                p{
                    font-family: 'Lemonada', cursive;
                }
            }
        }
    }
}